<div id= "page_wrapper">
    <div id= profile_image>
        <%= image_tag "profile_pic.jpeg" %>
    </div>


    <div id= "content">
        <h1>They Call me baby</h1>
        <h3>@sonny</h3>
        <p>I'm baby street art enamel pin paleo, venmo selvage bicycle rights photo booth pop-up banh mi. 
        Poke deep v meditation craft beer cornhole, tote bag keffiyeh. 
        Bitters raw denim keffiyeh echo park man bun direct trade. 
        Glossier tofu flannel lomo you probably haven't heard of them, direct trade raclette. 
        Tacos tattooed scenester, flannel four loko DIY master cleanse artisan succulents fanny pack. 
        Bespoke food truck cred glossier occupy.
        </p>
    </div>
</div>